
.list-user-container{
    .list-user-content{
        .child{
            width: 700px;
            margin: 0 auto;
            height: 40px;
            border: 1px solid grey;
            list-style-type: none !important;
        }
    }
}

